@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  padding-top: 50px;
}

.dropdown-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85%;
  height: auto;
  border: 1px solid rgba(229, 231, 235, 20);
  border-radius: 20px;
  background-color: rgba(243, 244, 246, 10);
  padding: 20px;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(229, 231, 235, 20);
  border-radius: 15px;
  background-color: white;
  padding: 10px 20px;
  gap: 15px;
}

.dropdown-header input {
  flex: 1;
  width: 70%;
  border: none;
  height: 40px;
  outline: 0;
  font-size: 20px;
  font-family: inherit;
}

.dropdown-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.dropdown-header .wrapper .selected-count {
  background-color: rgba(0, 0, 0, 1);
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 10px;
  color: #fff;
}

.dropdown-header .wrapper .selected-count i {
  padding-left: 20px;
  cursor: pointer;
}

.dropdown-header .wrapper .arrow-icon {
  cursor: pointer;
  transition: transform 0.3s;
}

.dropdown-header.active .wrapper .arrow-icon i {
  transform: rotate(180deg);
}

.dropdown-menu-wrapper {
  position: relative;
  display: flex;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(229, 231, 235, 20);
  border-radius: 15px;
  top: 0px;
  left: 0px;
  right: 0px;
  max-height: 450px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-menu label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.no-results {
  padding: 15px;
  display: none;
}

.dropdown-menu label:hover {
  background-color: rgba(243, 244, 246, 20);
}

.dropdown-menu label input[type="checkbox"] {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.dropdown-menu label input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  top: 2px;
  left: 2px;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
}

#selected {
  height: 1px;
  background-color: rgba(229, 231, 235, 20);
  margin: 0px 0;
}

.dropdown-menu .divider {
  height: 1px;
  background-color: rgba(229, 231, 235, 20);
  margin: 10px 0;
}

.submit-btn {
  width: fit-content;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.highlight {
  background-color: rgba(0, 0, 0, 0.07);
}

#selectedLabel {
  display: none;
}

@media (min-width: 640px) {
  .dropdown-container {
    padding: 40px;
    width: 40%;
  }
}

@media (max-width: 480px) {
  body,
  .submit-btn,
  .dropdown-header input {
    font-size: 14px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
